$primary-color: #ffa500;
$secondary-color: silver;
$tertiary-color: #bfbfbf7a;
$hover-color: whitesmoke;
$shadow-color: #c0c0c0a8;
$border-radius: 0.5rem;
$border-style: 1px solid #c0c0c0d8;
$container-width: 90%;
$max-width-list: 300px;
$mobile-breakpoint: 768px;